@charset "utf-8";

*, *::before, *::after {
	box-sizing: border-box;
}

.secret-link {
	cursor: inherit !important;
	text-decoration: inherit !important;
	color: inherit !important;
	opacity: 1 !important;
}
